@font-face{
  font-family:bellybeans;
  src:url(../fonts/bellybeans.ttf);
}
@font-face{
  font-family:Lato-Regular;
  src:url(../fonts/Lato-Regular.ttf);
}
@font-face{
  font-family:Lato-Regular-outline;
  src:url(../fonts/Lato-Regular-outline.ttf);
}

/*
  for native printing expirementation
*/
html {
  width:525px;
  margin-left:50px;
  margin-right:50px;
  margin-top:0px;
  margin-bottom:0px;
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
#roadbook {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: 100%;
}

#roadbook-name {
  font-size: 35px;
  text-align: left;
  width: 350px !important;
  font-family: bellybeans !important;
  border-left: 1px solid #000;
  min-height: 90px;
  overflow: hidden;
  word-wrap: normal;
}
#roadbook-desc {
  font-size: 15px;
  text-align: left;
  padding: 0;
}

#roadbook-name,
#roadbook-desc {
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;
}

#roadbook-total-distance{
	max-height: 90px;  
	width: 165px !important;
	border: 0px solid #f00;
}
#roadbook-total-distance p{
  font-family: "Lucida Console", Monaco, monospace;
  color: #000;
  text-align: center;
  font-size: 35px;
}

*{
	box-sizing: border-box;
}
.waypoint-note p div img.small,
.waypoint-note p img.small{
  height: 35px;
}

.waypoint-note p div img,
.waypoint-note p img,
.waypoint-note div img.normal,
.waypoint-note img.normal {
  height: 55px;
}

.waypoint-note p div img.large,
.waypoint-note p img.large{
  height: 75px;
}

.waypoint-note p div img.huge,
.waypoint-note p img.huge{
  height: 95px;
}

.break{
 margin-top: 1px;
 display: block;
 clear: both;
 page-break-after: always;
}

.glyph-container {
  height: 53px;
}
.glyph-container img {
  height: 53px;
  width: 53px;
}





.waypoint {
	width: 525px !important;
	height: 128px; /*FIM standard, overridden by most page sizes*/
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-left: 0 !important;
	margin-right: 0 !important;
	position: relative;
}
.waypoint.letter {
    height: 135px;
}
.waypoint.legal {
	height: 130px;
}
.waypoint.A5 {
	height: 128px;
}
.waypoint.PackedLetter {
	height: 131px;
}

.waypoint-distance {
	width: 150px;
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	border-right: 2px solid #000;
}

.waypoint-distance-close {
  background-color: #93ff93;
}

.waypoint-tulip {
	width:180px;
	height: 100%;
	border: 0px solid #0f0;
	position: absolute;
	top: 0px;
	left: 152px;
}

.waypoint-tulip img {
	height: 96%;
	width:  96%;
	padding-left: 0px;
	position:absolute;
	top:2%;
	left:2%;
	border:0px solid #f00;
}

.waypoint-note {
	padding-left: 4px;
	padding-right: 4px;
	width: 188px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	border-left: 2px solid #000;
}





.waypoint-note p {
	height: 100%;
	font-size: medium;
	width: 100%;
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
	line-height: 1;
}

.total-distance {
	font-size: 0; /* eliminate the space between regular and hundredths digits */
	text-align: right;
	border: 0px solid #f00;
	position: absolute;
	top:25;
	right:5;
}



.regularDigit {
	font-size:45px;
	font-family:Lato-Regular;
}
.hundredthDigit {
	font-size:45px;
	font-family:Lato-Regular;
}
.hundredthDigit.outline {
	font-size:45px;
	font-family:Lato-Regular-outline;
}
.hundredthDigit.none {
	font-size:0px;
}

.relative-distance {
	font-family:Lato-Regular;
	color: #000;
	font-size: 18px;
	text-align: right;
	padding-right: 10px;
	position: absolute;
	height: 27px;
	width:80px;
	bottom: 0px;
	right: 0px;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.waypoint-index {
	height: 16px;
	width: 24px;
	bottom:0px;
	left:0px;
	position:absolute;
	padding-top:3px;
	font-size: 11px;
	text-align:center;
}
.heading {
	font-family:Lato-Regular;
	font-size: 18pt;
	position: absolute;
	height: 35px;
	/* width: 100px; */
	bottom: 0px;
	left: 0px;
  background-color: yellow;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-right: 6px;
	padding-left: 6px;
}
.heading label {
	display: none;
	font-size: 26pt;
}



/*
  Sticky nav
*/
.print-button {
  text-align: right;
}
.paper-dropdown{
  text-align: left;
}
.logo {
  text-align: center;
  font-family: bellybeans !important;
  font-size: 2.5em;
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  background-color: #787878;
  color: #ffba29;
  border-radius: 5px;
}
.main-nav {
  background: #ffba29;
  height: 135px;
  z-index: 150;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 0px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  width: 565px;
  margin-left: -25px;
  border-radius: 5px;
 
}

.main-nav-scrolled {
  position: fixed;
}
/*
  neccessary foundation stuff
*/
img {
  vertical-align: middle;
}

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
.row {
	margin: 0 auto;
	max-width: 62.5rem;
	width: 100%; 
}
.row:before, .row:after {
	content: " ";
	display: table; }
.row:after {
	clear: both; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }
.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }
.column,
.columns {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;}
.large-1 {
  width: 8.33333%; }

.large-2 {
  width: 16.66667%; }

.large-3 {
  width: 25%; }

.large-4 {
  width: 33.33333%; }

.large-5 {
  width: 41.66667%; }

.large-6 {
  width: 50%; }

.large-7 {
  width: 58.33333%; }

.large-8 {
  width: 66.66667%; }

.large-9 {
  width: 75%; }

.large-10 {
  width: 83.33333%; }

.large-11 {
  width: 91.66667%; }

.large-12 {
  width: 100%; }
button, .button {
  -webkit-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  width: 130px;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #007095; }
button:hover, button:focus, .button:hover, .button:focus {
  color: #FFFFFF; }
button.large, .button.large {
  padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
  font-size: 1.25rem; }
button.small, .button.small {
  padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
  font-size: 0.8125rem; }
button.tiny, .button.tiny {
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem; }
button.radius, .button.radius {
  border-radius: 3px; }
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #FAFAFA;
  border-radius: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  border-radius: 0;
  height: 2.7rem;
  width: 150px;
}
select.radius {
  border-radius: 3px;
}
select:focus {
  background-color: #f3f3f3;
  border-color: #999999;
}
