@font-face{
  font-family:bellybeans;
  src:url(../fonts/bellybeans.ttf);
}

/*
  for native printing expirementation
*/
html {
  width:616px;
  margin:auto;
}
body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
#roadbook {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: 100%;
}

#roadbook-name {
  font-size: 35px;
  text-align: left;
  width: 349px !important;
  font-family: bellybeans !important;
  border-left: 1px solid #000; min-height: 90px;
}
#roadbook-desc {
  font-size: 15px;
  text-align: left;
  padding: 0;
}

#roadbook-name,
#roadbook-desc {
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;
}

#roadbook-total-distance{max-height: 90px;  width: 125px !important}
#roadbook-total-distance p{
  font-family: "Lucida Console", Monaco, monospace;
  color: #000;
  text-align: center;
  font-size: 35px;
}

.waypoint-note p div img.small,
.waypoint-note p img.small{
  height: 35px;
}

.waypoint-note p div img,
.waypoint-note p img,
.waypoint-note div img.normal,
.waypoint-note img.normal {
  height: 55px;
}

.waypoint-note p div img.large,
.waypoint-note p img.large{
  height: 75px;
}

.waypoint-note p div img.huge,
.waypoint-note p img.huge{
  height: 95px;
}

.break{
 margin-top: 1px;
 display: block;
 clear: both;
 page-break-after: always;
}
.glyph-container {
  height: 53px;
}
.glyph-container img {
  height: 53px;
  width: 53px;
}
.heading {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
  font-size: 2em;
}
.heading label {
  display: inline;
  font-size: 0.875rem;
}

.instruction-number{
  height: 28px;
  color: #d2d2d2;
  font-weight: bold;
  border-top: 1px solid #000;
  text-align: left;
  margin-top: 35px;
  padding-left: 3px;
  font-size: 25px;
  width: 51%;
  float: left;
}

.relative-distance {
  height: 28px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  border-top: 1px solid #000;
  text-align: right;
  margin-top: 35px;
  padding-right: 10px;
  width: 40%;
  float: right;
}
.total-distance {
  height: 90px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 3em;
  color: #000;
  text-align: center;
}

.total-distance.A5 {
  font-size: 3.45em;
}

.total-distance div {
  margin-top: 20px
}

.waypoint.A5{
  width: 580px !important; /* works for letter */
}

.waypoint {
  width: 528px !important; /* works for letter */
  border: 2px solid #000;
  /*height:190px;*/
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* works for letter */
.waypoint-distance {
  width: 150px;
}

.waypoint-distance.A5 {
  /*width: 230px;*/
  width: 193px;
}

/* works for letter */
.waypoint-note {
  width: 185px;
  padding-left: 4px;
  padding-right: 4px;
}

/* works for letter */
.waypoint-tulip {
  width:180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.waypoint-tulip img {
  height: 99%;
  margin-left: 1%;
}

.waypoint-tulip.A5 {
  width:190px;
}

/*.waypoint-distance,
.waypoint-note,
.waypoint-tulip {
  height: 190px;
  float: left
}*/
/*
  --- A5 sizing
*/
.waypoint,
.waypoint-distance,
.waypoint-tulip,
.waypoint-note {
  height: 175px;
  float: left
}
.waypoint-note p {
  height: 135px;
  font-size: medium;
  width: 100%;
  margin: 0;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1;
}

/*
  Sticky nav
*/
.print-button {
  text-align: right;
}
.paper-dropdown{
  text-align: left;
}
.logo {
  text-align: center;
  font-family: bellybeans !important;
  font-size: 2.5em;
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  background-color: #787878;
  color: #ffba29;
}
.main-nav {
  background: #ffba29;
  height: 55px;
  z-index: 150;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  width: 650px;
  margin-left: -25px;
}

.main-nav-scrolled {
  padding-top: 5px;
  position: fixed;
  width: 100%;
  top: 0;
}
/*
  neccessary foundation stuff
*/
img {
  vertical-align: middle;
}

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
    .row:before, .row:after {
      content: " ";
      display: table; }
    .row:after {
      clear: both; }
      .column,
      .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 100%;
        float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }
.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }
.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left; }
.large-1 {
  width: 8.33333%; }

.large-2 {
  width: 16.66667%; }

.large-3 {
  width: 25%; }

.large-4 {
  width: 33.33333%; }

.large-5 {
  width: 41.66667%; }

.large-6 {
  width: 50%; }

.large-7 {
  width: 58.33333%; }

.large-8 {
  width: 66.66667%; }

.large-9 {
  width: 75%; }

.large-10 {
  width: 83.33333%; }

.large-11 {
  width: 91.66667%; }

.large-12 {
  width: 100%; }
button, .button {
  -webkit-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  width: 65px;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #007095; }
button:hover, button:focus, .button:hover, .button:focus {
  color: #FFFFFF; }
button.large, .button.large {
  padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
  font-size: 1.25rem; }
button.small, .button.small {
  padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
  font-size: 0.8125rem; }
button.tiny, .button.tiny {
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem; }
button.radius, .button.radius {
  border-radius: 3px; }
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #FAFAFA;
  border-radius: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  border-radius: 0;
  height: 2.7rem;
  width: 100px;
}
select.radius {
  border-radius: 3px;
}
select:focus {
  background-color: #f3f3f3;
  border-color: #999999;
}
