@font-face{
  font-family:bellybeans;
  src:url(../fonts/bellybeans.ttf);
}
/*
  for native printing expirementation
*/
html {
  width:616px;
  margin:auto;
}
body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#roadbook {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: 100%;
}

#roadbook-name {
  font-size: 35px;
  text-align: left;
  width: 349px !important;
  font-family: bellybeans !important;
  border-left: 1px solid #000; min-height: 90px;
}
#roadbook-desc {
  font-size: 15px;
  text-align: left;
  padding: 0;
}

#roadbook-name,
#roadbook-desc {
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;
}

#roadbook-total-distance{max-height: 90px;  width: 125px !important}
#roadbook-total-distance p{
  font-family: "Lucida Console", Monaco, monospace;
  color: #000;
  text-align: center;
  font-size: 35px;
}

.break{
 margin-top: 100px;
 display: block;
 clear: both;
 page-break-after: always;
}
.glyph-container {
  height: 53px;
}
.glyph-container img {
  height: 53px;
  width: 53px;
}
.heading {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
  font-size: 2em;
}
.heading label {
  display: inline;
  font-size: 0.875rem;
}

.relative-distance {
  height: 28px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  border-top: 1px solid #000;
  text-align: right;
  margin-top: 45px;
  padding-right: 10px;
}
.total-distance {
  height: 90px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 3.45em;
  color: #000;
  text-align: center;
}

.total-distance div {
  margin-top: 20px
}

.waypoint {
  width: 596px !important; /* works for letter */
  border: 2px solid #000;
  height:190px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 2px !important;
}

/* works for letter */
.waypoint-distance {
  /*width: 230px;*/
  width: 193px;
}

/* works for letter */
.waypoint-note {
  width: 193px;
  padding-left: 4px;
  padding-right: 4px;
}

.waypoint-note p {
  width: 100%;
  height: 95px;
  margin: 0;
  overflow: hidden;
  font-size: 1.2rem;
  word-wrap: break-word;
  line-height: 1;
}

/* works for letter */
.waypoint-tulip {
  width:190px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.waypoint-distance,
.waypoint-note,
.waypoint-tulip {
  height: 190px;
  float: left
}
/*
  Sticky nav
*/
.main-nav {
  background: #fff;
    height: 80px;
    z-index: 150;
    margin-bottom: 20px;
    padding-top: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    width: 650px;
    margin-left: -25px;
}

.main-nav-scrolled {
  padding-top: 5px;
  position: fixed;
  width: 100%;
  top: 0;
}
/*
  neccessary foundation stuff
*/

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
    .row:before, .row:after {
      content: " ";
      display: table; }
    .row:after {
      clear: both; }
      .column,
      .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 100%;
        float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }
.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }
.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left; }
.large-1 {
  width: 8.33333%; }

.large-2 {
  width: 16.66667%; }

.large-3 {
  width: 25%; }

.large-4 {
  width: 33.33333%; }

.large-5 {
  width: 41.66667%; }

.large-6 {
  width: 50%; }

.large-7 {
  width: 58.33333%; }

.large-8 {
  width: 66.66667%; }

.large-9 {
  width: 75%; }

.large-10 {
  width: 83.33333%; }

.large-11 {
  width: 91.66667%; }

.large-12 {
  width: 100%; }
