@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

a.added-track-selector,
a.entry-track-selector,
a.exit-track-selector {
  height: 25px !important;
  background-color: #fff !important;
  margin: 0;
}

a.added-track-selector.active {
  background-color: #008CBA !important;
}

h2 {
  /* font-family: bellybeans; */
  font-size: 1.5rem !important;
  color: rgba(255, 144, 0, 1) !important;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
  /* font-family: bellybeans !important; */
  font-size: 30px;
}

canvas {
  width: var(--instruction-height);
  height: var(--instruction-height);
}

div.switch label {
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.60);
}

a.button {
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.60);
}

aside {
  padding: 15px;
}

aside ul {
  list-style-type: none;
}

aside ul li a.main-menu {
  font-size: 1rem !important;
}

aside.right-off-canvas-menu {
  background: #fffaf0;
  border: solid;
}

textarea {
  box-shadow: 3px 1px 13px -3px rgba(0, 0, 0, 0.60) !important;
  padding: 0.2rem !important;
}

textarea.waypoint-palette {
  height: 75px !important;
  width: 120px !important;
}

#content {
  height: 100%;
}

#content .content-container {
  height: 100%;
}

#glyph-search-results li a {
  width: 100px;
}

#glyph-search-clear {
  position: relative;
  left: 97%;
  top: -45px;
  cursor: pointer;
}

#loading {
  display: none;
  z-index: 9999;
  position: absolute;
  top: 40%;
  left: 40%;
  background: transparent;
  -webkit-animation: rotateloader 4s linear infinite;
}

#hide-palette {
  margin-bottom: 0;
}

#map {
  position: absolute !important;
}

#note-editor-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#note-selection-bold.active,
#note-selection-italic.active,
#note-selection-underline.active {
  background-color: #b9b9b9;
}

.waypoint-note p div img.small,
.waypoint-note p img.small {
  height: 35px;
}

.waypoint-note div img.normal,
.waypoint-note p div img,
.waypoint-note p img {
  height: 55px;
}

.waypoint-note p div img.large,
.waypoint-note p img.large {
  height: 75px;
}

.waypoint-note p div img.huge,
.waypoint-note p img.huge {
  height: 95px;
}

#notification-options {
  display: none;
}

#notification-open-radius,
#notification-validation-radius {
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.60);
}

#roadbook {
  padding-top: 1.2rem;
  height: 92%;
  overflow: auto;
  scroll-padding-top:    40%;
  scroll-padding-bottom: 40%;
}

#roadbook-header {
  font-family: bellybeans;
  font-size: 3rem;
  text-shadow: -3px 3px 2px rgba(0, 0, 0, 1);
  text-align: left;
  background-color: #787878;
  color: #ffba29;
  padding: 0;
}

#roadbook-header .menu {
  text-align: right;
}

#roadbook-header .menu a {
  text-shadow: none;
  vertical-align: middle;
  margin: 0;
  font-size: 2rem;
  padding: 0 .65rem 0 .65rem;
}

#roadbook-desc a.hide-editor {
  display: none;
}

#roadbook-desc .roadbook-header-input-container {
  display: none;
  width: 100%;
  /* margin-top: 15px; */
}

#roadbook-name p {
  margin-bottom: 0px;
  font-size: 1.6em;
  color: #000;
  float: left;
}

#roadbook-name a.rb-name,
#roadbook-name a.hide-editor,
a.rb-desc {
  float: right;
  margin-bottom: 0px;
  margin-top: 6px;
}

#roadbook-waypoints {
  padding-bottom: 20px;
}

#track-selection {
  padding: 0.40rem .55rem 0.40rem .55rem !important;
}

#glyph-content li a.th img.glyph {
  width: 100%;
  height: 100%;
}

#glyph-content li a.th {
  aspect-ratio: 1 / 1;
  width: 100%
}

#detail-glyphs li.tab-title,
#feature-glyphs li.tab-title,
#orga-glyphs li.tab-title,
#track-glyphs li.tab-title {
  text-align: center;
}

#waypoint-glyphs,
#waypoint-tracks {
  padding: 10px 0 10px 0;
}

#waypoint-palette {
  display: none;
  width: 100%;
  padding: 10px 0;
}

#waypoint-palette h3 {
  background: #787878;
  padding: 5px;
}

#waypoint-palette h3 a {
  color: #ff4200;
}

#zin:focus,
#zout:focus {
  background-color: #008CBA;
}

.glyph-modal {
  width: 700px !important;
  height: 75%;
  overflow: scroll;
}

.heading-coordinates-hidden {
  color: lightgray;
  background-color: transparent !important;
  border-color: lightgray !important;
}

.waypoint-number-hidden {
  display: none;
}

.map-container {
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.tab-title {
  margin-right: 4px;
}

.note-grid {
  width: 35px !important;
  height: 35px;
  float: left;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.60);
  text-align: center;
  font-size: 25px;
  color: #777;
  background-color: #efefef;
  margin-right: 10px;
  margin-top: 5px;
}

.note-grid:hover {
  background-color: rgba(255, 144, 0, 1);
  color: #ffba29;
  cursor: pointer;
  box-shadow: 5px 5px 22px -2px rgba(0, 0, 0, 0.60);
}

.roadbook-container {
  width: 540px;
  position: absolute;
  top: 1rem;
  right: 25px;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  box-shadow: -12px 4px 29px -2px rgba(0, 0, 0, 0.89);
  overflow: hidden;
}

.roadbook-container.collapsed {
  height: 90px;
  transition: all 1s;
}

.roadbook-container.expanded {
  height: 95%;
  transition: all 1s;
}

.selected {
  background-color: rgba(255, 144, 0, 1);
}

#waypoint-palette .switch {
  margin-bottom: 0;
}

ul.track-selection li.accordion-navigation a.track-tab-title {
  padding: 9px;
}

ul.track-selection li.accordion-navigation a {
  padding: 6px;
  box-shadow: none;
}

.text-selection,
.glyph-selection,
.track-selection {
  min-height: 130px;
}

#text-selection-grid,
#glyph-selection-grid {
  display: none;
}

.note-glyph-selection {
  min-height: 40px;
  margin-bottom: 5px;
}

.text-grid,
.glyph-grid,
.track-grid {
  width: 40px;
  height: 40px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.60);
  position: absolute;
  text-align: center;
  font-size: 25px;
  color: #ffba29;
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 1);
  background-color: #efefef;
}

.track-selection li.accordion-navigation {
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.60);
}

.text-grid.undo,
.glyph-grid.undo,
.track-grid.undo {
  color: #000;
}

.text-grid:hover,
.glyph-grid:hover,
.track-grid:hover {
  background-color: rgba(255, 144, 0, 1);
  cursor: pointer;
  box-shadow: 5px 5px 22px -2px rgba(0, 0, 0, 0.60);
}

.text-grid.undo:hover,
.glyph-grid.undo:hover,
.track-grid.undo:hover {
  background-color: #000;
  color: #ffba29;
}

.text-grid i,
.glyph-grid i,
.track-grid i {
  display: none;
}

.text-grid.undo i,
.text-grid:hover i,
.glyph-grid.undo i,
.glyph-grid:hover i,
.track-grid.undo i,
.track-grid:hover i {
  display: block;
}

.text-grid.undo i,
.glyph-grid.undo i,
.track-grid.undo i {
  transform: scale(-1, 1);
}

.tl {
  left: 15;
  top: 0;
  border-top-left-radius: 10px;
}

.tm {
  left: 54px;
  top: 0;
}

.tr {
  left: 93px;
  top: 0;
  border-top-right-radius: 10px;
}

.ml {
  left: 15;
  top: 39px;
}

.mm {
  left: 54px;
  top: 39px;
}

.mr {
  left: 93px;
  top: 39px;
}

.ll {
  left: 15;
  top: 78px;
  border-bottom-left-radius: 10px;
}

.lm {
  left: 54px;
  top: 78px;
}

.lr {
  left: 93px;
  top: 78px;
  border-bottom-right-radius: 10px;
}

.track-grid.lr div,
.track-grid.tl div {
  transform: rotate(-45deg);
}

.track-grid.ll div,
.track-grid.tr div {
  transform: rotate(45deg);
}

nav.top-bar {
  background: -webkit-linear-gradient(top, rgba(255, 68, 0, 1) 0%, rgba(255, 68, 0, 1) 33%, rgba(255, 144, 0, 1) 34%, rgba(255, 144, 0, 1) 68%, rgba(255, 187, 41, 1) 68%, rgba(255, 187, 41, 1) 100%);
  box-shadow: 0px 13px 115px 1px rgba(120, 120, 120, 0.89);
  z-index: 5;
  position: absolute;
  top: 2rem;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.waypoint-selected {
  border-color: #6a00ff;
  border-style: dashed;
  border-width: 2px;
}

.right-off-canvas-menu input {
  width: auto !important;
  margin-bottom: auto;
}

.right-off-canvas-menu>ul>li {
  margin-bottom: 1rem;
}

.right-off-canvas-menu input[type=checkbox] {
  margin-right: 0.3rem;
}

.delete-suggestion {
  cursor: not-allowed;
}

.button_round {
  width: 40px;
  height: 40px;
  display: inline-flex;
  font-size: 2.4em;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

#orient-map {
  background-color: royalblue;
  border-radius: 50%;
  color: white;
}

#hide-palette {
  background-color: yellowgreen;
  border-radius: 50%;
  color: white;
}

.map-rotate-notice {
  font-size: 2.4em !important;
  padding: 0px !important;
  margin: 0px;
  aspect-ratio: 1 / 1;
  width: 40px;
  height: 40px;
}

#delete-tulip-item {
  color: darkred;
}

#rotate-km-marker {
  color: black;
}

.tulip-edit-controls {
  margin-top: 12px;
}

#about-version {
  display: inline;
}

#roadbook-logo-remove {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
  background-color: white;
  border-style: solid;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  color: crimson;
  cursor: pointer;
}

#text-modifier-bold {
  font-weight: bold;
}

#text-modifier-italic {
  font-style: italic;
}

#text-modifier-underline {
  text-decoration: underline;
}

#text-modifier-red {
  color: red;
}

#text-modifier-green {
  color: green;
}

#text-modifier-lgray {
  color: lightgray;
}

#text-modifier-bg-cyan {
  color: black;
  background-color: cyan;
}

#text-modifier-bg-yellow {
  color: black;
  background-color: yellow;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  margin: auto;
}

#roadbook-desc > a.button.tiny.radius.secondary.show-editor.rb-desc,
#roadbook-desc > a.button.tiny.round.alert.hide-editor.rb-desc {
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 0.325rem 0.95rem 0.1875rem;
    font-size: 1em;
}

#user-add-glyph {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: mediumseagreen;
}

.draw-btn-inactive {
  color: #000;
}
.draw-btn-inactive:hover {
  color: #333;
}

.draw-btn-active i {
    color: #666;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), 
                 0px 1px 0px rgba(255, 255, 255, 0.8);
                 
    transition: all 0.1s ease;
}

.drawing-preset {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  border-color: black;
  border-width: 2px;
  border: black solid 2px;
  cursor: pointer;
}

#drawing-preset-wadi {
  background-color: #d3d3d3;
  border-color: #808080;
}

#drawing-preset-water {
  background-color: #80b3ff;
  border-color: #bdbdbd;
}

#drawing-preset-sand {
  background-color: #f3be82;
  border-color: #808080;
}

.drawColorPick {
  display: flex;
}

.drawColorPick input {
  margin: 0px 5px;
  padding: 1px 2px;
  height: auto;
}

.selection-label {
  min-height: 1px;
}