#map {
  /*
  height: 151%;
  width: 151%;
  position: absolute;
  left: -25.5%;
  top: -25.5%;*/
  height: 100%;
  width: 100%;
}
.map-container
{
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
}
#content {
  height: 95%;
}
#content .content-container {
  height: 100%;
}
#roadbook {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#zout:focus,
#zin:focus {
  background-color: #008CBA;
}
.waypoint {
  width:90rem;
  border: 2px solid #000;
  height:180px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 10px !important;
}
.waypoint-tulip {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.waypoint-distance,
.waypoint-notes,
.waypoint-tulip {
  height: 178px;
}
.total-distance {
  height: 150px;
  border-bottom: 1px solid #000;
}
.relative-distance {
  height: 28px;
}
