@font-face{
  font-family:bellybeans;
  src:url(../fonts/bellybeans.ttf);
}
h2 {
  font-family: bellybeans;
  font-size: 1.5rem !important;
  color: rgba(255,144,0,1) !important;
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  font-family: bellybeans !important;
  font-size: 30px;
}
canvas {
  width: 180px;
  height: 180px;
}
aside {
  padding:15px;
}
aside ul {
  list-style-type: none;
}
aside ul li a.main-menu{
  font-size: 1rem !important;
}
aside.right-off-canvas-menu {
  background: #787878;
}
#content {
  height: 100%;
}
#content .content-container {
  height: 100%;
}
#map {
  /*
  height: 151%;
  width: 151%;
  position: absolute;
  left: -25.5%;
  top: -25.5%;*/
  height: 100%;
  width: 100%;
}
#roadbook {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  height: 90%;
  overflow: auto;
}
#roadbook-header {
  font-family: bellybeans;
  font-size: 3rem;
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  text-align: left;
  background-color: #787878;
  color: #ffba29;
  padding: 0;
}

#roadbook-header .menu {
  text-align: right;
}

#roadbook-header .menu a{
  text-shadow: none;
  vertical-align: middle;
  margin: 0;
  font-size: 2rem;
  padding: 0 .65rem 0 .65rem;
}

#roadbook-name,
#roadbook-desc {
  text-align: center;
}

#roadbook-name input,
#roadbook-desc textarea{
  display:none;
}

#roadbook-name a,
#roadbook-desc a{
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#roadbook-name a:hover,
#roadbook-desc a:hover{
  color: rgba(255,144,0,1);
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  font-family: bellybeans;
  font-size: 30px;
}

#zout:focus,
#zin:focus {
  background-color: #008CBA;
}
.heading {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
  text-align: center;
  font-size: 2.5em;
}
.map-container
{
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.roadbook-container {
  width: 500px;
  position: absolute;
  top: 1rem;
  right: 25px;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: -12px 4px 29px -2px rgba(0,0,0,0.89);
  overflow: hidden;
}
.roadbook-container.collapsed{
  height: 90px;
  transition:all 1s;
}

.roadbook-container.expanded{
  height: 95%;
  transition:all 1s;
}

.relative-distance {
  height: 28px;
  color: #000;
  font-weight: bold;
  border-top: 1px solid #000;
  padding-left: 5px;
}
nav.top-bar {
  background: -webkit-linear-gradient(top, rgba(255,68,0,1) 0%, rgba(255,68,0,1) 33%, rgba(255,144,0,1) 34%, rgba(255,144,0,1) 68%, rgba(255,187,41,1) 68%, rgba(255,187,41,1) 100%);
  -webkit-box-shadow: 0px 13px 115px 1px rgba(120,120,120,0.89);
  z-index: 5;
  position: absolute;
  top: 2rem;
  width: 100%;
}
.total-distance {
  height: 90px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.75em;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.total-distance div.column {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.waypoint {
  width:480px;
  border: 2px solid #000;
  height:182px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 10px !important;
}

.waypoint-distance {
  width:120px;
}

.waypoint-notes {
  width:175px;
}

.waypoint-tulip {
  width:180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.waypoint-distance,
.waypoint-notes,
.waypoint-tulip {
  height: 180px;
  float: left
}
