@font-face{
  font-family:bellybeans;
  src:url(../fonts/bellybeans.ttf);
}
a.added-track-selector,
a.entry-track-selector,
a.exit-track-selector {
  height: 25px !important;
  background-color: #fff !important;
  margin: 0
}

a.added-track-selector.active {
  background-color: #008CBA !important;
}

h2 {
  font-family: bellybeans;
  font-size: 1.5rem !important;
  color: rgba(255,144,0,1) !important;
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  font-family: bellybeans !important;
  font-size: 30px;
}
img.glyph{
  height: 100px;
  margin: auto;
  display: block;
}
canvas {
  width: 180px;
  height: 180px;
}
div.switch label {box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.60);}
a.button {box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.60);}
aside {
  padding:15px;
}
aside ul {
  list-style-type: none;
}
aside ul li a.main-menu{
  font-size: 1rem !important;
}
aside.right-off-canvas-menu {
  background: #787878;
}

textarea {
  box-shadow: 3px 1px 13px -3px rgba(0,0,0,0.60) !important;
  padding: 0.2rem !important;
}
textarea.waypoint-palette{
  height: 75px !important;
  width: 120px !important;
}

#content {
  height: 100%;
}
#content .content-container {
  height: 100%;
}

#glyph-search-results li a {
  width: 100px;
}
#glyph-search-clear {
  position: relative;
  left: 97%;
  top: -45px;
  cursor: pointer;
}

#loading {
  display: none;
  z-index: 9999;
  position: absolute;
  top: 40%;
  left: 40%;
  background: transparent;
  -webkit-animation:rotateloader 4s linear infinite;
}

@-webkit-keyframes rotateloader {
  to { -webkit-transform: rotate(360deg);}
}
#hide-palette {
  margin-bottom: 0;
}

#map {
  position: absolute !important;
}

#note-editor-container {
  position: relative;
  top: -185px;
}
#note-editor-container.hideCap {
  top: -137px;
}
#note-editor {
  width: 100%;
  height: 135px;
  box-shadow: 0px 2px 6px 1px rgba(255,144,0,0.60);
  background: #fff;
  padding:0;
  display: block;
  overflow: hidden;
}

#note-selection-bold.active,
#note-selection-italic.active,
#note-selection-underline.active {
  background-color: #b9b9b9;
}

.waypoint-note p div img.small,
.waypoint-note p img.small,
#note-editor div img.small,
#note-editor img.small {
  height: 35px;
}

.waypoint-note p div img,
.waypoint-note p img,
.waypoint-note div img.normal,
.waypoint-note img.normal
#note-editor div img,
#note-editor img,
#note-editor div img.normal,
#note-editor img.normal {
  height: 55px;
}

.waypoint-note p div img.large,
.waypoint-note p img.large,
#note-editor div img.large,
#note-editor img.large {
  height: 75px;
}

.waypoint-note p div img.huge,
.waypoint-note p img.huge,
#note-editor div img.huge,
#note-editor img.huge {
  height: 95px;
}

#notification-bubble,
#notification-modifier {
  box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.60);
}

#roadbook {
  padding-top: 1.2rem;
  padding-bottom: 150%;
  height: 90%;
  overflow: auto;
}
#roadbook-header {
  font-family: bellybeans;
  font-size: 3rem;
  text-shadow: -3px 3px 2px rgba(0,0,0, 1);
  text-align: left;
  background-color: #787878;
  color: #ffba29;
  padding: 0;
}

#roadbook-header .menu {
  text-align: right;
}

#roadbook-header .menu a{
  text-shadow: none;
  vertical-align: middle;
  margin: 0;
  font-size: 2rem;
  padding: 0 .65rem 0 .65rem;
}

#roadbook-name {border-left: 1px solid #000; min-height: 90px;}

#roadbook-name a.hide-editor,
#roadbook-desc a.hide-editor {
  display: none;
}

#roadbook-total-distance{max-height: 90px;}
#roadbook-name .roadbook-header-input-container,
#roadbook-desc .roadbook-header-input-container{
  display:none;
  width: 100%;
  margin-top: 15px;
}
#roadbook-name p {font-size: 30px; text-align: right; font-family: bellybeans !important;color: #000;}
#roadbook-desc p {
  /*font-size: 15px;*/
  text-align: left;
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
  margin-left: 5px;
  width: 85%;
  margin-bottom: 0;
}

#roadbook-name p {
  float: right;
}
#roadbook-total-distance p {
  font-family: "Lucida Console", Monaco, monospace;
  color: #000;
  text-align: center;
  font-size: 35px;
}

#roadbook-waypoints {
  /*padding-top: 25px;*/
  padding-bottom: 20px;
}

#track-selection {
  padding: 0.40rem .55rem 0.40rem .55rem !important;
}

#track-glyphs li img,
#feature-glyphs li img,
#detail-glyphs li img,
#orga-glyphs li img {
  min-width:100px;
  height:100px;
}

#track-glyphs li.tab-title,
#feature-glyphs li.tab-title,
#detail-glyphs li.tab-title,
#orga-glyphs li.tab-title {
  text-align: center;
}

#waypoint-tracks, #waypoint-glyphs {
  padding: 10px 0 10px 0;
}
#waypoint-palette {
  display: none;
  width: 100%;
  padding: 10px 0;
}

#waypoint-palette h3 {
  background: #787878;
  padding: 5px;
}

#waypoint-palette h3 a{
  color: #ff4200;
}

#zout:focus,
#zin:focus {
  background-color: #008CBA;
}

.glyph-modal {
  width: 700px !important;
  height: 75%;
  overflow: scroll;
}

.heading {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
  font-size: 2em;
}
.heading label {
  display: inline;
}

.instruction-number{
  height: 28px;
  color: #d2d2d2;
  font-weight: bold;
  border-top: 1px solid #000;
  text-align: left;
  margin-top: 45px;
  padding-left: 3px;
  width: 50%;
  float: left;
}

.map-container
{
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.tab-title {
  margin-right: 4px;
}
.note-grid {
  width: 100% !important;
  height: 35px;
  float: left;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.60);
  text-align: center;
  font-size: 25px;
  color: #ffba29;
  text-shadow: -1px 1px 4px rgba(0,0,0, 1);
  background-color: #efefef;
  margin-right: 10px;
  margin-top: 5px;
}
.note-grid i {
  display: none;
}
.note-grid:hover i {
  display: block;
}

.note-grid:hover {
  background-color: rgba(255,144,0,1);
  cursor: pointer;
  box-shadow: 5px 5px 22px -2px rgba(0,0,0,0.60);
}

.relative-distance {
  height: 28px;
  color: #000;
  font-weight: bold;
  border-top: 1px solid #000;
  text-align: right;
  margin-top: 45px;
  padding-right: 3px;
  width: 50%;
  float: right;
}

.roadbook-container {
  width: 540px;
  position: absolute;
  top: 1rem;
  right: 25px;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  box-shadow: -12px 4px 29px -2px rgba(0,0,0,0.89);
  overflow: hidden;
}
.roadbook-container.collapsed{
  height: 90px;
  transition:all 1s;
}

.roadbook-container.expanded{
  height: 95%;
  transition:all 1s;
}

.heading label {
  height: 5px !important;
}

.selected {
  background-color: rgba(255,144,0,1);
}

#waypoint-palette .switch {
  margin-bottom: 0;
}

ul.track-selection li.accordion-navigation a.track-tab-title {
  padding: 9px;
}

ul.track-selection li.accordion-navigation a {
  padding: 6px;
  box-shadow: none;
}

.track-selection, .glyph-selection {min-height: 130px;}
.note-glyph-selection {min-height: 40px;margin-bottom: 5px;}
.track-grid, .glyph-grid {
  width: 40px;
  height: 40px;
  box-shadow: 2px 3px 6px 1px rgba(0,0,0,0.60);
  position: absolute;
  text-align: center;
  font-size: 25px;
  color: #ffba29;
  text-shadow: -1px 1px 4px rgba(0,0,0, 1);
  background-color: #efefef;
}

.track-selection li.accordion-navigation {
  box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.60);
}

.track-grid.undo, .glyph-grid.undo {color: #000}

.track-grid:hover, .glyph-grid:hover {background-color: rgba(255,144,0,1); cursor: pointer; box-shadow: 5px 5px 22px -2px rgba(0,0,0,0.60);}

.track-grid.undo:hover, .glyph-grid.undo:hover {background-color: #000; color: #ffba29;}

.track-grid i, .glyph-grid i {
  display:none;
}

.track-grid:hover i,
.glyph-grid:hover i,
.track-grid.undo i,
.glyph-grid.undo i  {
  display:block;
}

.track-grid.undo i,
.glyph-grid.undo i  {
  transform: scale(-1, 1);
}

.tl {left: 15; top: 0; border-top-left-radius: 10px;}
.tm {left: 54px; top: 0;}
.tr {left: 93px; top: 0; border-top-right-radius: 10px;}
.ml {left: 15; top: 39px;}
.mm {left: 54px; top: 39px;}
.mr {left: 93px; top: 39px;}
.ll {left: 15; top: 78px; border-bottom-left-radius: 10px;}
.lm {left: 54px; top: 78px;}
.lr {left: 93px; top: 78px; border-bottom-right-radius: 10px;}

.track-grid.tl div,
.track-grid.lr div {
  transform:rotate(-45deg);
}

.track-grid.tr div,
.track-grid.ll div {
  transform:rotate(45deg);
}

nav.top-bar {
  background: -webkit-linear-gradient(top, rgba(255,68,0,1) 0%, rgba(255,68,0,1) 33%, rgba(255,144,0,1) 34%, rgba(255,144,0,1) 68%, rgba(255,187,41,1) 68%, rgba(255,187,41,1) 100%);
  box-shadow: 0px 13px 115px 1px rgba(120,120,120,0.89);
  z-index: 5;
  position: absolute;
  top: 2rem;
  width: 100%;
}
.total-distance {
  height: 90px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 2.45em;
  color: #000;
  text-align: center;
}

.total-distance div {
  margin-top: 20px
}

.hidden {
  visibility: hidden;
}

.waypoint {
  width:500px !important;
  border: 2px solid #000;
  height:182px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 10px !important;
}

.waypoint-distance {
  width:120px;
}

.waypoint-note {
  width:195px;
  padding: 3px;
}

.waypoint-note p {
  width: 100%;
  height: 135px;
  margin: 0;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1;
  font-size: medium;
}

.waypoint-tulip {
  width:180px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.waypoint-distance,
.waypoint-note,
.waypoint-tulip {
  height: 180px;
  float: left
}
